* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}

.max-width-wrapper {
  width: 80%;
  margin: auto;
}

.elipse {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.elipse img {
  max-width: 80vw;
  max-height: 70vh;
}

.react-icons {
  background-color: white;
  /* font-size: 10px; */
}

@media (max-width: 870px) {
  .elipse {
    display: none;
  }

}